@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0F766E;
  --color-secondary:#f78d20;
  --color-base-100: #FFFBEB;       /* Main background */
  --color-base-200: #FFFFFF;       /* Card bg */
  --color-base-300: #E5E7EB;       /* Card border */
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #0D9470;
  --color-secondary: #f78d20;
  --color-base-100: #111827;       /* Main bg */
  --color-base-200: #1F2937;       /* Card bg */
  --color-base-300: #374151;       /* Border */
}

